<form action="/pogoda" method="post">
  <label for="place">Miejsce:</label><br>
  <input type="text" id="place" name="place"><br>
  <label for="day">Dzień:</label><br>
  <input type="text" id="day" name="day"><br>
  <label for="temperature">Temperatura:</label><br>
  <input type="text" id="temperature" name="temperature"><br>
  <label for="other">Inne:</label><br>
  <input type="text" id="other" name="other"><br>
  <input type="submit" value="Wyslij">
</form>

<form action="/pogoda" method="get">
  <input type="submit" value="Zobacz wszystkie">
</form> 