{% extends 'base.html' %}

{% block content %}


<form action="./pogoda" method="post">

  <label for="place">Miejsce: </label>
  <input type="text" name="place" id="place">

  <label for="date">Data: </label>
  <input type="text" name="date" id="date">

  <label for="temperature">Temperatura: </label>
  <input type="text" name="temperature" id="temperature">

  <input type="submit">

</form>

<a href="./pogoda">Wszystkie</a>

{% if 'username' in session %}

<a href="./logout">Wyloguj sie</a>

{% else %}

<a href="./login">Zaloguj sie</a>

{% endif %}

{% endblock %}

